
/* Componentes específicos - cores Winnet */
.icon-blue {
  background: hsl(197, 94%, 45%) !important;
  color: white !important;
  border: 1px solid hsl(197, 94%, 55%) !important;
}

.icon-green {
  background: rgb(236, 253, 245) !important;
  color: rgb(5, 150, 105) !important;
  border: 1px solid rgb(167, 243, 208) !important;
}

.icon-orange {
  background: hsl(17, 100%, 69%) !important;
  color: white !important;
  border: 1px solid hsl(17, 100%, 79%) !important;
}

.icon-purple {
  background: rgb(250, 245, 255) !important;
  color: rgb(147, 51, 234) !important;
  border: 1px solid rgb(221, 214, 254) !important;
}

.badge-success {
  background: rgb(220, 252, 231) !important;
  color: rgb(22, 101, 52) !important;
  border: 1px solid rgb(167, 243, 208) !important;
}

.badge-neutral {
  background: rgb(241, 245, 249) !important;
  color: rgb(51, 65, 85) !important;
  border: 1px solid rgb(203, 213, 225) !important;
}

.badge-warning {
  background: hsl(41, 99%, 77%) !important;
  color: hsl(41, 99%, 30%) !important;
  border: 1px solid hsl(41, 99%, 87%) !important;
}

.badge-info {
  background: hsl(197, 94%, 90%) !important;
  color: hsl(0, 61%, 22%) !important;
  border: 1px solid hsl(197, 94%, 75%) !important;
}

/* Sidebar específica - cores Winnet */
.sidebar-item {
  color: hsl(0, 61%, 22%) !important;
  background: white !important;
}

.sidebar-item:hover {
  background: hsl(197, 94%, 95%) !important;
  color: hsl(197, 94%, 45%) !important;
}

.sidebar-item.active {
  background: hsl(197, 94%, 45%) !important;
  color: white !important;
}

/* Tabelas e células com destaque */
.table-highlight {
  background: hsl(197, 94%, 95%) !important;
  border-left: 3px solid hsl(197, 94%, 45%) !important;
}

.performance-highlight {
  background: linear-gradient(90deg, hsl(197, 94%, 95%) 0%, white 100%) !important;
  border-left: 3px solid hsl(197, 94%, 45%) !important;
}
